<%= simple_form_for @contact, remote: true do |f| %>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-4">
			<div class="input-field col s12">
		        <%= f.input :name, error_html: { class: 'input_error' } %>
		      </div>
		</div>
		<div class="col-xs-4">
			<div class="input-field col s12">
		        <%= f.input :email, error_html: { class: 'input_error' } %>
		    </div>
		</div>
		<div class="col-xs-2"></div>
	</div>

	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<div class="input-field col s12">
		        <%= f.label :message %>
        		<%= f.text_area :message, class: "materialize-textarea" %>
		      </div>
		</div>
		<div class="col-xs-2"></div>
	</div>

	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8 right-align">
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
			    <i class="material-icons right">send</i>
			</button>
		</div>
		<div class="col-xs-2"></div>
	</div>
<% end %>